body {
    background-color: #2e012b;
    color: #ceace2;
}
.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock {
    font-size: 40px;
    background-color: rgb(164, 74, 0);
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}