*{
    background-color: #200137c3;
    color: #f6c8c8;
}

.center {
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#clock {
    font-size: 40px;
    background-color: rgb(92, 66, 96);
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}